%button {
  font-size: 0.9rem;
  width: 120px;
  background-color: #f76a07;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  background-color: #24262a;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;

  h1 {
    grid-column: 1/ 2;
    color: #f7f7f7;
    margin-left: auto;
  }

  .reset-print-btn{
    @extend %button;
    grid-column: 9;
    margin: auto 8px auto auto;
  }

  .preview-form-btn{
    @extend %button;
    grid-column: 10;
    margin: auto auto auto 8px;
  }

  button:hover {
    background-color: #e86006;
  }
}