$container-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
$border: 1px solid #464648;

@page {
  size: A4;
}

@media print {
  html, body {
    width: 210mm;
    max-height: 297mm;
  }

  .preview-container {
    height: 100%;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.preview-container {
  display: grid;
  color: #464648;
  grid-template-columns: repeat(10, 1fr);
  box-shadow: $container-shadow;
  background-color: #fff;
  margin: 120px 0 50px 0;
  border-radius: 5px;
  width: 210mm;
  max-height: 297mm;
}

p {
  line-height: 1.4rem;
  white-space: pre-wrap;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  border-bottom: $border;
  padding-bottom: 10px;
  margin: 2.6rem 0 0.6rem 0;
}

/* sidebar preview section */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #464648;
  grid-column: 1/ 4;
  padding: 35px 23px;
  box-sizing: border-box;

  .profile-img {
    margin: auto;
    height: 150px;
    width: auto;
    border-radius: 50%;
  }

  h3 {
    text-align: center;
    border-bottom: 1px solid #fff;
    margin: 1.3rem 0 0.6rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    width: 100%;
    text-align: center;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.85rem;
  }

  span {
    font-size: 0.85rem;
  }

  .contact-preview {
    .contact-item {
      display: flex;

      p {
        width: 100%;
        margin-left: 10px;
        font-size: 0.85rem;
      }
    }
  }

  .education-preview {
    width: 100%;
    p {
      margin: 0.8rem;
    }

    .education-item {
      text-align: center;

      .degree {
        font-weight: bold;
        font-size: 1.1rem;
        margin-top: 30px;
      }
    }
  }

  .expertise-preview {
    width: 100%;
  }
  
  .lenguage-preview {
    display: none;
  }
}

/* Main preview section */

.main-section {
  color: #464648;
  background-color: #fff;
  grid-column: 4/ -1;
  padding: 35px;

  h1 {
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem 0 0.8rem 0;
  }

  h2 {
    font-weight: lighter;
    text-align: center;
  }

  h4 {
    font-size: 1.3rem;
    margin: 1rem 0 0.2rem 0;
  }

  span {
    font-weight: normal;
  }

  .company-details {
    display: flex;

    p {
      margin: 0.2rem 0 0.5rem 0;
    }

    .location {
      border-right: $border;
      border-left: $border;
      padding: 0 0.4rem 0 0.4rem;
      margin: 0.2rem 0.4rem 0.5rem 0.4rem;
    }
  }

  .experience-description {
    margin: 0.2rem 0 2.8rem 0;
  }
}